{% extends 'base.html.twig' %}
        
        
        
        
        {% block body %}
        
      {{ form_start(form)}}

{{ form_row(form.title)}}




<button> sauvgarder </button>
      {{ form_end(form)}}
        {% endblock %}

